
@{
    ViewData["Title"] = "About";
}
<style>
    .title {
        font-weight: bold;
    }
</style>
<div class="container" style="margin-top: 20px">

    <div class="col-lg-5">
        <ul>
            <li>
                <h3 class="title">About Us</h3>
                <p> This book Store is Started in 2019 in new zealand.</p>
                <p> In this Book Store Great book are available for all communities.</p>
            </li>
            <li>
                <p class="col-lg-3 title">Office :</p>
                <p class="col-lg-8">139 Carrington Rd, Mount Albert, Auckland 1025</p>
            </li>
            <li>
                <p class="col-lg-3 title">Phone :</p>
                <p class="col-lg-8">(64)0225682745</p>
            </li>
            <li>
                <p class="col-lg-3 title">Email :</p>
                <p class="col-lg-8">karam02@myunitec.ac.nz</p>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-6">
    <img class="img-responsive" src="~/images/images/BookStore.jpg" alt="History" />
</div>

<div class="col-sm-offset-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3191.4053720520205!2d174.70767216689563!3d-36.88064954304809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d4720a3564dcf%3A0xac4fd7893e9a560f!2sUnitec%20Institute%20of%20Technology!5e0!3m2!1sen!2snz!4v1568634927713!5m2!1sen!2snz" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>

